@model IEnumerable<JTimev2.Models.Timesheet>
@{
    ViewBag.Title = "TimesheetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TimesheetList</h2>
<table id="timesheet" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            
            <th>Job Number</th>
            <th>Package</th>
            <th>Activity</th>
            <th>NCR</th>
            <th>Variation</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Total</th>
            <th>Billable</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
       
    </thead>
    <tfoot>
        <tr>
            <th colspan="12" style="text-align:right">Total:</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>

    </tbody>
    
</table> 

@section scripts
{
    <script>

        
        var editor;
        var oTable;

        $(document).ready(function () {
            editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        contentType: 'application/json',
                        url: "/api/timesheets/new",
                        data: function (d) {
                            //console.log(d.ToString());
                            var obj = JSON.parse(JSON.stringify(d));
                            //console.log(obj.data[0]);
                            return JSON.stringify(obj.data[0]);
                        }
                        
                        
                    },
                    edit: {
                        type: 'PUT',
                        contentType: 'application/json',
                        url: "/api/timesheets/_id_",
                        dataType: 'json',
                        data: function (d) {
                            //console.log(d.ToString());
                            var obj = JSON.parse(JSON.stringify(d));
                            var obj2 = JSON.stringify(d.data);
                            var obj3 = JSON.parse(obj2);
                            console.log(JSON.stringify(obj3));
                            return JSON.stringify(obj3);
                        }
                    },

                    remove: {
                        type: 'DELETE',
                        url: "/api/timesheets/_id_"
                    }
                
                
                },
                table: "#timesheet",
                idSrc: 'id',
                fields: [ {
                    label: "Job Number:",
                    name: "jobNumber"
                }, {
                    label: "Package:",
                    name: "package"
                }, {
                    label: "Activity:",
                    name: "activity"
                }, {
                    label: "NCR:",
                    name: "ncr"
                }, {
                    label: "Variation:",
                    name: "variation"
                }, {
                    label: "Monday Time:",
                    name: "mondayTime"
                }, {
                    label: "Tuesday Time:",
                    name: "tuesdayTime"
                }, {
                    label: "Wednesday Time:",
                    name: "wednesdayTime"
                }, {
                    label: "Thursday Time:",
                    name: "thursdayTime"
                }, {
                    label: "Friday Time:",
                    name: "fridayTime"
                }, {
                    label: "Saturday Time:",
                    name: "saturdayTime"
                }, {
                    label: "Sunday Time:",
                    name: "sundayTime"
                }, {
                    label: "Total:",
                    name: "total"
                }, {
                    label: "Billable:",
                    name: "billable"
                }, {
                    label: "Description:",
                    name: "description"
                }
                    ]

            });

            $('#timesheet').on('click', 'tbody td',function (e) {
                editor.inline(this);
            });

            var oTable = $("#timesheet").DataTable({
                "footerCallback": function(row, data, start, end, display){
                    var api = this.api(), data;

                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all pages
                    totalTime = api
                        .column(12)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    $(api.column(12).footer()).html(
                        totalTime
                        );
                    
                    totalBillable = api
                        .column(13)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                                        
                    $(api.column(13).footer()).html(
                        totalBillable
                        );
                },
                bPaginate: false,
                dom: "Bfrtip",
                ajax: {
                    url: "/api/timesheets",
                    dataSrc: ""
                },
                columns: [
                    
                    {
                        data: "jobNumber"
                    },
                    {
                        data: "package"
                    },
                    {
                        data: "activity"
                    },
                    {
                        data: "ncr"
                    },
                    {
                        data: "variation"
                    },
                    {
                        data: "mondayTime"
                    },
                    {
                        data: "tuesdayTime"
                    },
                    {
                        data: "wednesdayTime"
                    },
                    {
                        data: "thursdayTime"
                    },
                    {
                        data: "fridayTime"
                    },
                    {
                        data: "saturdayTime"
                    },
                    {
                        data: "sundayTime"
                    },
                    {
                        data: "total",
                        render: function (data, type, row) {
                            return data.mondayTime + data.tuesdayTime + data.wednesdayTime + data.thursdayTime + data.fridayTime + data.saturdayTime + data.sundayTime;
                        }
                    },
                    {
                        data: "billable"
                    },
                    {
                        data: "description"
                    }
                    

                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                buttons: [
                    { extend: "create", editor: editor },
                    { extend: "edit", editor: editor },
                    {extend: "remove", editor:editor}
                ]

            });
           
            
        });
    </script>
    
    }
